
<div id="filters">
    <div class="filter">
    <div><i class="fa-solid fa-home"></i></div>
    <p class="categories">Home</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p class="categories">Trending</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p class="categories">Rooms</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p class="categories">Iconic cities</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p class="categories">Mountains</p>
      </div>
      <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p class="categories">Castles</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p class="categories">Amazing pools</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p class="categories">Camping</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p class="categories">Farms</p>
      </div>
      <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p class="categories">Beach</p>
      </div>
      <div class="tax-toggle">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display Total after Taxes</label>
            </div>
      </div>
    </div>